# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Flask/Instance
instance/
.web_assets_cache

# Database
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

# Environment
.env

# VS Code / IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific
app/static/uploads/profiles/*
!app/static/uploads/profiles/.gitkeep
